.container {
    //background-color: #4d4c48;
    background-color: #303030;

}

.card {
    border: 1px solid #cc7000;
}

.priceChartInfo {
    background-color: #303030;
    color: whitesmoke;
    text-align: center;

}