<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="price_chart_info" class="card">Price Chart Info Bar</div>
            <div id="price_chart" class="card" app-price-chart>Price Chart</div>
            <div id="orders" class="card" app-transactions>Orders</div>
        </div>
        <div class="col-md-3">
            <div id="order_book" class="card" app-order-book>Order Book</div>
            <div id="all_trades" class="card" app-trades>All Trades</div>
        </div>
        <div class="col-md-3">
            <div id="buy_sell" class="card" app-new-order>Buy / Sell</div>
        </div>
    </div>
</div>