<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="price_chart_info" class="card">Price Chart Info Bar Placeholder</div>
            <div id="price_chart" class="card" app-price-chart></div>
            <div id="orders" class="card" app-transactions></div>
        </div>
        <div class="col-md-3">
            <div id="order_book" class="card" app-order-book></div>
        </div>
        <div class="col-md-3">
            <div id="buy_sell" class="card" app-new-order></div>
            <div id="all_trades" class="card" app-trades></div>
        </div>
    </div>
</div>