<div class="card-header">
    Order Book
</div>
<div class="card-body order-book">
    <div class="btn-group">
        <button id="book_all" [ngClass]="{'active': sortType === sortTypes.All}" class="btn btn-primary"
            (click)="filterOrderBook($event.target.id)">
            <span id="book_all" class="material-icons">trending_flat</span>
        </button>
        <button id='book_down' [ngClass]="{'active': sortType === sortTypes.Sold}" class="btn btn-primary"
            (click)="filterOrderBook($event.target.id)">
            <span id='book_down' class="material-icons">trending_down</span>
        </button>
        <button id='book_up' [ngClass]="{'active': sortType === sortTypes.Bought}" class="btn btn-primary"
            (click)="filterOrderBook($event.target.id)">
            <span id='book_up' class="material-icons">trending_up</span>
        </button>
    </div>
    <table *ngIf="($orders | async).loaded === true" class="table table-sm small">
        <tbody>
            <tr>
                <th scope="col">Amount(DEX)</th>
                <th scope="col">Price(DEX/ETH)</th>
                <th scope="col">Total(ETH)</th>
            </tr>
        </tbody>
    </table>
    <table *ngIf="($orders | async).loaded === true && sortType === sortTypes.Sold || sortType === sortTypes.All"
        class="table table-sm small">
        <tbody>
            <tr id='order' *ngFor="let order of ($orders | async).data.sell; let i = index"
                (click)="fillingOrder(order)" ngbTooltip="Click the order to sell">
                <td>{{ order.tokenAmount }}</td>
                <td class="text-{{order.orderTypeClass}}">{{ order.tokenPrice }}</td>
                <td>{{ order.etherAmount }}</td>
            </tr>
        </tbody>
    </table>
    <table *ngIf="($orders | async).loaded === true" class="table table-sm small" class="table table-sm">
        <tbody>
            <tr>
                <th scope="col">{{ $lastPrice | async }} <span
                        [ngClass]="{'book_arrow_up': priceSymbol(lastPriceChange) === 'north_east', 'book_arrow_down': priceSymbol(lastPriceChange) === 'south_west'}"
                        class="material-icons">{{ priceSymbol(lastPriceChange) }}</span></th>
            </tr>
        </tbody>
    </table>
    <table *ngIf="($orders | async).loaded === true && sortType === sortTypes.Bought || sortType === sortTypes.All"
        class="table table-sm small" class="table table-sm small">
        <tbody>
            <tr *ngFor="let order of ($orders | async).data.buy; let i = index" (click)="fillingOrder(order)"
                ngbTooltip="Click the order to buy">
                <td>{{ order.tokenAmount }}</td>
                <td class="text-{{order.orderTypeClass}}">{{ order.tokenPrice }}</td>
                <td>{{ order.etherAmount }}</td>
            </tr>
        </tbody>
    </table>
    <!-- <table *ngIf="($orders | async).loaded === true" class="table table-sm small">
        <tbody>
            <tr>
                <th scope="col">Amount(DEX)</th>
                <th scope="col">Price(DEX/ETH)</th>
                <th scope="col">Total(ETH)</th>
            </tr>
            <tr *ngFor="let order of ($orders | async).data.sell; let i = index" (click)="fillingOrder(order)">
                <td>{{ ($orders | async).data.sell[i].tokenAmount }}</td>
                <td class="text-{{($orders | async).data.sell[i].orderTypeClass}}"
                    ngbTooltip="Click here to {{($orders | async).data.sell[i].orderFillAction}}">
                    {{ ($orders | async).data.sell[i].tokenPrice }}</td>
                <td>{{ ($orders | async).data.sell[i].etherAmount }}</td>
            </tr>

            <tr>
                <th scope="col"></th>
                <th scope="col">{{ lastPrice }}</th>
                <th scope="col"></th>
            </tr>

            <tr *ngFor="let order of ($orders | async).data.buy; let i = index" (click)="fillingOrder(order)">
                <td>{{ ($orders | async).data.buy[i].tokenAmount }}</td>
                <td class="text-{{($orders | async).data.buy[i].orderTypeClass}}"
                    ngbTooltip="Click here to {{($orders | async).data.buy[i].orderFillAction}}">
                    {{ ($orders | async).data.buy[i].tokenPrice }}</td>
                <td>{{ ($orders | async).data.buy[i].etherAmount }}</td>
            </tr>
        </tbody>
    </table> -->
</div>