<app-spinner *ngIf="!($appInit | async)"></app-spinner>
<div class="card-header">Trades</div>
<div class="card-body">
  <table *ngIf="($filledOrders | async).loaded === true" class="table table-sm small">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">DEX</th>
        <th scope="col">DEX/ETH</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ($filledOrders | async).data">
        <td>{{ order.formattedTimestamp }}</td>
        <td>{{ order.tokenAmount }}</td>
        <td class="text-{{order.tokenPriceClass}}">{{ order.tokenPrice }}</td>
      </tr>
    </tbody>
  </table>
</div>