<div class="content">
    <div class="vertical-split">
        <div class="card bg-dark text-white" app-deposits></div>
        <div class="card bg-dark text-white" app-new-order></div>
    </div>
    <div class="vertical">
        <div class="card bg-dark text-white" app-order-book></div>
    </div>
    <div class="vertical-split">
        <div class="card bg-dark text-white" app-price-chart></div>
        <div class="card bg-dark text-white" app-transactions></div>
    </div>
    <div class="vertical">
        <div class="card bg-dark text-white" app-trades></div>
    </div>
</div>