<div class="card-header">New Order</div>
<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
    <li ngbNavItem>
        <a ngbNavLink>Buy</a>
        <ng-template ngbNavContent>
            <form name="buyOrder" (submit)="createOrder('buy')">
                <div class="form-group small">
                    <label>Buy Amount (DEX)</label>
                    <div class="input-group">
                        <input name="buyAmount" [(ngModel)]="buyAmount" (input)="buyAmountChanged(buyAmount)" type="number" class="form-control form-control-sm text-black" placeholder="Buy Amount" required />
                    </div>
                </div>
                <div class="form-group small">
                    <label>Buy Price</label>
                    <div class="input-group">
                        <input name="buyPrice" [(ngModel)]="buyPrice" (input)="buyPriceChanged(buyPrice)" type="number" class="form-control form-control-sm text-black" placeholder="Buy Price" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Buy Order</button>
                <small *ngIf="($buyOrder | async).amount > 0 && ($buyOrder | async).price > 0">Total: {{ ($buyOrder | async).amount * ($buyOrder | async).price }} DEX</small>
            </form>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Sell</a>
        <ng-template ngbNavContent>
            <form name="sellOrder" (submit)="createOrder('sell')">
                <div class="form-group small">
                    <label>Buy Sell (DEX)</label>
                    <div class="input-group">
                        <input name="sellAmount" [(ngModel)]="sellAmount" (input)="sellAmountChanged(sellAmount)" type="number" class="form-control form-control-sm text-black" placeholder="Sell Amount" required />
                    </div>
                </div>
                <div class="form-group small">
                    <label>Sell Price</label>
                    <div class="input-group">
                        <input name="sellPrice" [(ngModel)]="sellPrice" (input)="sellPriceChanged(sellPrice)" type="number" class="form-control form-control-sm text-black" placeholder="Sell Price" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Sell Order</button>
                <small *ngIf="($sellOrder | async).amount > 0 && ($sellOrder | async).price > 0">Total: {{ ($sellOrder | async).amount * ($sellOrder | async).price }} ETH</small>
            </form>
        </ng-template>
    </li>
</ul>
<div class="card-body">
    <div class="neworder" [ngbNavOutlet]="nav"></div>
</div>