.card-body {
    padding: 0px;
    background-color: #303030;
}

.card-header {
    background-color: #303030;
    color: whitesmoke;
    text-align: center;
}

h4 {
    text-align: center;
    color: whitesmoke;
}