<div class="content">
    <div class="row">
        <h1 class="card_title">Deposit/Withdraw</h1>
        <div class="col-md-6">
            <div class="walletBox">
                <div style="margin-bottom: 20px">
                    <b>Wallet</b>
                </div>
                <div>
                    <div>
                        Ether: {{$etherBalance | async}} <b>ETH</b>
                    </div>
                    <div>${{ formatCurrency(($etherBalance | async) * ethereumPrice) }}</div>

                    <div style="margin-top: 20px">
                        Token: {{$tokenBalance |async}} <b>DEX</b>
                    </div>
                    <div>${{ formatCurrency(($tokenBalance | async) * ($lastPrice | async)) }}</div>

                </div>
            </div>

            <div class="amount_button">
                <input #etherInput (focus)="tokenInput.value = null " class="input is-rounded dInput"
                    placeholder="Enter Ethereum Amount">
            </div>

            <div class="depositBox">

                <button type="button" (click)="deposit(tokenInput.value, etherInput.value)" class="btn depositbtn"><span
                        id="deposit" class="material-icons dIcon">
                        get_app
                    </span>
                    Deposit</button>

            </div>

        </div>
        <div class="col-md-6">
            <div class="walletBox align_r">
                <div style="margin-bottom: 20px">
                    <b>Exchange</b>
                </div>

                <div>
                    <div>
                        Ether: {{$exchangeEtherBalance | async}} <b>ETH</b>
                    </div>
                    <div>${{ formatCurrency(($exchangeEtherBalance | async) * ethereumPrice) }}</div>

                    <div style="margin-top: 20px">
                        Token: {{$exchangeTokenBalance |async}} <b>DEX</b>
                    </div>
                    <div>${{ formatCurrency(($exchangeTokenBalance | async) * ($lastPrice | async)) }}</div>
                </div>
            </div>

            <div class="amount_button">
                <input #tokenInput (focus)="etherInput.value = null " class="input is-rounded dInput"
                    placeholder="Enter Token Amount">
            </div>
            <div class="depositBox opposite">
                <button #withdrawBtn type="button" (click)="withdraw(tokenInput.value, etherInput.value)"
                    class="btn depositbtn"><span id="withdraw" class="material-icons dIcon">
                        publish
                    </span>Withdraw</button>
            </div>
        </div>
    </div>
</div>