.content {
    height: 100%;
    width: 100%;
}

:host#deposit_withdraw {
    background-color: #25395f !important;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.col-md-6 {
  padding: 0px;
  min-height: 100% !important;
  max-height: 100% !important;
}


.depositBox {
    position: absolute;
    bottom: 5%;
    right: 0%;
}

.depositBox.opposite {
    left: 0 !important;
    right: 50%;
    transform: translateX(10px);
}

.withdrawBox {
    margin: 32em 4em 1em 4em
}

.card_title {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px;
}

.depositbtn {
  border-color: #39527d;
  font-size: 26px;
  color: white;
  border-radius: 10px;
}

.dIcon {
    padding: 0% 30% 0% 30%;
    font-size: 36px;
}

.walletBox {
    width: 100%;
    // border: 2px solid #39527d;
    padding: 20px;
    color: white;
    background-color: #1b2d4b;
    font-size: 26px;
    // border-radius: 20px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.walletBox.align_r > * {
    text-align: right;
}

#deposit.material-icons {
    color: #1285f3
}

#withdraw.material-icons {
    color: #1285f3
}

input[type="text"], input:active, input:hover, input:focus {
    background-color: #39527d;
    color: white;
    text-align: center; 
}

.amount_button {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}


.dInput {
    border-radius: 40px;
    background-color: transparent;

    border: 2px solid #39527d;
    font-size: 22px;
    height: 20%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; 

}

::placeholder {
    color: white
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}