.content {
    height: inherit;
    width: 100%;
  }
  


.col-md-6 {
  padding: 0px;
  min-height: 50vh;
  background-color: #25395f;

}

.depositBox {
    margin: 40em 1em 1em 10%
}

.depositbtn {
    border-color: #39527d;
    font-size: 26px;
    padding: 20% 20% 20% 20%;
    color: white;
    border-radius: 10px;
}