<div class="card-header">
    Card Title
</div>
<div class="card-body">
    <div *ngIf="$balancesLoading; else elseBlock">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>Deposit</a>
                <ng-template ngbNavContent>
                    <table class="table table-sm small">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Wallet</th>
                                <th>Exchange</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ETH</td>
                                <td>{{$etherBalance | async}}</td>
                                <td>{{$exchangeEtherBalance | async}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <input #depositEther type="text" placeholder="Enter ETH Deposit" />
                        <button style="" class="btn btnStyle is-rounded"
                            (click)="etherDepositAmountChanged(depositEther.value)"><strong>Deposit</strong></button>
                    </form>
                    <table class="table table-sm small">
                        <tbody>
                            <tr>
                                <td>DEX</td>
                                <td>{{$tokenBalance | async}}</td>
                                <td>{{$exchangeTokenBalance | async}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <input #depositToken type="text" placeholder="Enter Token Deposit" />
                        <button style="" class="button btnStyle is-rounded"
                            (click)="TokenDepositAmountChanged(depositToken.value)"><strong>Deposit</strong></button>
                    </form>

                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Withdraw</a>
                <ng-template ngbNavContent>
                    <table class="table table-sm small">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Wallet</th>
                                <th>Exchange</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ETH</td>
                                <td>{{$etherBalance | async}}</td>
                                <td>{{$exchangeEtherBalance | async}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <input #withdraw type="text" placeholder="Enter Withdraw Amount" />
                        <button style="" class="button btnStyle is-rounded"
                            (click)="etherWithdrawAmountChanged(withdraw.value)"><strong>Withdraw</strong></button>
                    </form>
                    <table class="table table-sm small">
                        <tbody>
                            <tr>
                                <td>DEX</td>
                                <td>{{$tokenBalance | async}}</td>
                                <td>{{$exchangeTokenBalance | async}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <input #withdrawToken type="text" placeholder="Enter Token Withdraw" />
                        <button style="" class="button btnStyle is-rounded"
                            (click)="TokenWithdrawAmountChanged(withdrawToken.value)"><strong>Withdraw</strong></button>
                    </form>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <ng-template #elseBlock>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-template>
    <button (click)="loadotherData()">second</button>
</div>